---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <script src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../normalize.css">
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="main-container">
      {{ content }}
      <div class="about">
	<h2>{{ page.title }}</h2>
	<p class="credits">{{ page.material }}</p>
	<p>
	  {{ page.blurb }}
	</p>
	<p>
	  <a class="back" href="/">BACK TO CALENDAR</a>
	</p>
      </div>
    </div>

    <a title="Web Analytics" href="http://clicky.com/100794748"><img alt="Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(100794748); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/100794748ns.gif" /></p></noscript>

  </body>
</html>

