---
---

<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <script src="js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../normalize.css">
    <link rel="stylesheet" type="text/css" href="../styles.css">
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="main-container">
      {{ content }}
      <div class="about">
	<h2>{{ page.title }}</h2>
	<p class="credits">{{ page.material }}</p>
	<p>
	  {{ page.blurb }}
	</p>
	<p>
	  <a class="back" href="/">BACK TO CALENDAR</a>
	</p>
      </div>
    </div>
  </body>
</html>

